snippet pdb
    import pdb; pdb.set_trace()
snippet ifmain
    if __name__ == '__main__':
snippet t
    # TODO: {date, time, jfairbanks}
snippet lic
    """ This is my license Text. Default to BSD
        Happy Hacking,
        James Fairbanks"""
